* {
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
    padding-top: 20px;
    color: #669;
}
.container{
    width: 500px;
    height: 200px;
/* }  */
/* #get{
    position: absolute;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    top: 150px;
    left: 30px;
    color: #fff;
    background-color: blue;
    outline: none;
    text-transform: capitalize;
    font-size: 25px;
    transition: 0.3s ease all; */
} 
.input_inf{
    text-align: center;
    margin-top: 20px;
}
input{
    width: 200px;
    height: 25px;
}
#header{
  display: flex;
  flex: 1 0 auto; 
}
input::placeholder{
    font-size: 16px;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #aabcfe;
    color: #669;
    font-size: 15px;
    font-weight: bold;
}
#table-scroll {
    height:500px;
    overflow:auto;  
    margin-top:20px;
  }
  th {
    font-size: 18px;
    font-weight: bold;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
    width: 500px;
  }
  td {
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
  }
  tr:hover td {background: #ccddff;}