*{
  font-family: "Roboto";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
  background: #f9f9f9;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.option > p {
  margin-top: 5px;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap li {
  width: 25%;
}
#form {
  float: left;
  width: 20%;
  margin-left: 20px;
  padding: 10px 0 0;
}
#content-placeholder {
  float: left;
  width: calc(80% - 20px);
  margin-top: 25px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 10px;
}
.form-group {
  display: block;
  margin-bottom: 15px;
}
.form-group label {
  position: relative;
}
.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
}

label { 
  font-size: 15px;
  font-weight: bold;
}
.button {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}
.button.floatleft{
  float: left;
}

.button.btnBlueGreen {
  background: #0079bf;
}

.button.btnFade.btnBlueGreen:hover {
  background: #00304d;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}

h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
}
